{{!-- {{#each posts as |post| }}
<div class="blog-post" id="blog-post" data-post-id="{{ post.id }}">
    <header class="d-flex justify-content-between align-items-center py-3 px-4 bg-primary" data-post-id="{{ post.id }}">
        <div class="header-left d-flex align-items-center">
            <h1 >{{ post.name }}</h1>
        </div>

        <div class="header-right d-flex align-items-center postDate">
            <p>Posted by {{ post.user.name }} on {{format_date post.date_created}}</p>
        </div>
    </header>

    <div class="postBody" id="B-{{ post.name }}" data-post-id="{{ post.id }}">
        <p>{{ post.description }}</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae velit feugiat, ullamcorper lorem nec, vulputate magna. Suspendisse fringilla, ex id feugiat sagittis, urna mauris consequat neque, eget auctor odio mauris eu nisi. Quisque congue felis id augue gravida, quis eleifend nisi commodo. Sed ac odio nec augue convallis dictum. Sed ut mi odio. Integer eget ipsum vitae augue lobortis imperdiet. Aliquam erat volutpat. Nam efficitur odio in purus lobortis, ut commodo eros accumsan.</p>
    </div>
</div>
{{/each}} --}}


<div class="container-fluid">
    {{#each posts as |post| }}
    <div class="card mb-4 rounded-bottom blog-post" id="blog-post" data-post-id="{{ post.id }}">
        <div class="card-header d-flex justify-content-between align-items-center bg-primary text-white"
            data-post-id="{{ post.id }}">
            <h5 class="card-title">{{ post.name }}</h5>
            <p class="m-0">Posted by {{ post.user.name }} on {{format_date post.date_created}}</p>
        </div>
        <div class="card-body bg-light" id="B-{{ post.name }}" data-post-id="{{ post.id }}">
            <p class="card-text">{{ post.description }}</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae velit feugiat, ullamcorper lorem
                nec, vulputate magna. Suspendisse fringilla, ex id feugiat sagittis, urna mauris consequat neque, eget
                auctor odio mauris eu nisi. Quisque congue felis id augue gravida, quis eleifend nisi commodo. Sed ac
                odio nec augue convallis dictum. Sed ut mi odio. Integer eget ipsum vitae augue lobortis imperdiet.
                Aliquam erat volutpat. Nam efficitur odio in purus lobortis, ut commodo eros accumsan.</p>
        </div>
    </div>
    {{/each}}
</div>